.env
.venv/
venv/
ENV/


chroma_db/
*.sqlite3


*.pdf

# pdf de prueba basico de MoProSoft
!documento.pdf


*.exe
*.out
*.o
*.obj
*.dll
*.txt
*.cpp


__pycache__/
*.py[cod]
*$py.class


.vscode/
.idea/
Thumbs.db
Desktop.ini
Fases/